.button {
  padding: 5px 5px;
  border: 1px solid $dark-background-02;
  border-radius: 3px;
  outline: none;
  color: $dark-background-02;
  background-color: $button;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    color: $button;
    background-color: $button-hover;
  }
}

.button--active {
  background-color: $button-active;
}

.button--delete {
  background-color: $button-delete;
}

.button--cart {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-align: center;
}