$dark-background-01: #7a6e6c;
$dark-background-02: #3b2b24;
$light-background-01: #c3beba;
$light-background-02: #e3ddd8;
$button: #c3beba;
$button-hover: #a88563;
$button-active: #8d7053;
$button-delete: #990000;