@import 'reset';
@import 'colors';
@import './header';
@import './button';
@import './nav';
@import './home';
@import './store';
@import './about';
@import './contacts';
@import './footer';
@import './cart';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: $dark-background-01;
}

.application {
  max-width: 1024px;
  margin: 0 auto;
}